# size
CONFIG_FEATURE_COMPRESS_USAGE=y
FEATURE_SEAMLESS_XZ=y
CONFIG_AR=n

# chinese
CONFIG_LOCALE_SUPPORT=y
CONFIG_UNICODE_SUPPORT=y
CONFIG_FEATURE_CHECK_UNICODE_IN_ENV=y
CONFIG_UNICODE_WIDE_WCHARS=y

# enhance
CONFIG_DEATURE_VERBOSE_CP_MESSAGE=y
CONFIG_DEPMOD=y
CONFIG_VERBOSE_RESOLUTION_ERRORS=y
CONFIG_FEATURE_WGET_HTTPS=y
CONFIG_FEATURE_WGET_OPENSSL=y

# wireless
CONFIG_RFKILL=y

