BR2_x86_64=y

# toolchain
BR2_TOOLCHAIN_BUILDROOT_MUSL=y
BR2_TOOLCHAIN_BUILDROOT_LOCALE=y
BR2_TOOLCHAIN_BUILDROOT_USE_SSP=y
BR2_GCC_ENABLE_LTO=y
BR2_PIC_PIE=y
BR2_SSP_ALL=y

# Kernel
BR2_PACKAGE_HOST_KMOD_XZ=y
BR2_LINUX_KERNEL_NEEDS_HOST_LIBELF=y
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_XZ=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/lenovo-100schromebook-luhui/linux.config"
BR2_PACKAGE_KMOD_TOOLS=y
BR2_PACKAGE_XZ=y
BR2_PACKAGE_LINUX_FIRMWARE=y
BR2_PACKAGE_LINUX_FIRMWARE_INTEL_SST_DSP=y
BR2_PACKAGE_LINUX_FIRMWARE_I915=y
BR2_PACKAGE_LINUX_FIRMWARE_IWLWIFI_7260=y

# rootfs
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_XZ=y
BR2_TARGET_ROOTFS_INITRAMFS=y

# system
BR2_ROOTFS_MERGED_USR=y
BR2_TARGET_GENERIC_HOSTNAME="lenovo-100schromebook-luhui"
BR2_TARGET_GENERIC_ISSUE="Welcome to Linux"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_TARGET_GENERIC_PASSWD_SHA512=y
BR2_SYSTEM_ENABLE_NLS=y
BR2_TARGET_TZ_INFO=y

# small size
BR2_OPTIMIZE_S=y

# busybox
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="board/lenovo-100schromebook-luhui/addtion-busybox.config"

# TLS support
BR2_PACKAGE_CA_CERTIFICATES=y

# sound
BR2_PACKAGE_ALSA_UTILS=y
BR2_PACKAGE_ALSA_UTILS_ALSACTL=y
BR2_PACKAGE_ALSA_UTILS_ALSAMIXER=y
BR2_PACKAGE_ALSA_UTILS_ALSAUCM=y
BR2_PACKAGE_ALSA_UTILS_APLAY=y
BR2_PACKAGE_ALSA_LIB_OLD_SYMBOLS=y
BR2_PACKAGE_MPG123=y

# filesystem
BR2_PACKAGE_DOSFSTOOLS=y
BR2_PACKAGE_DOSFSTOOLS_FATLABEL=y
BR2_PACKAGE_DOSFSTOOLS_FSCK_FAT=y
BR2_PACKAGE_DOSFSTOOLS_MKFS_FAT=y
BR2_PACKAGE_BTRFS_PROGS=y
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_E2FSPROGS_FSCK=y
BR2_PACKAGE_CRYPTSETUP=y

# chinese display
BR2_PACKAGE_NCURSES_WCHAR=y
BR2_PACKAGE_KMSCON=y
BR2_PACKAGE_LIBDRM_INTEL=y
# chinese input
BR2_PACKAGE_UIM=y
BR2_PACKAGE_UIM_FEP=y

# Picture viewer
BR2_PACKAGE_FBV=y
BR2_PACKAGE_FBV_PNG=y
BR2_PACKAGE_FBV_JPEG=y

# WLAN
BR2_PACKAGE_WIRELESS_REGDB=y
BR2_PACKAGE_WIRELESS_TOOLS=y
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_WPA_SUPPLICANT_NL80211=y
BR2_PACKAGE_WPA_SUPPLICANT_WPA3=y
BR2_PACKAGE_WPA_SUPPLICANT_CLI=y
BR2_PACKAGE_WPA_SUPPLICANT_WPA_CLIENT_SO=y
BR2_PACKAGE_WPA_SUPPLICANT_PASSPHRASE=y
BR2_PACKAGE_WPA_SUPPLICANT_CTRL_IFACE=y

# VPN
BR2_PACKAGE_WIREGUARD_TOOLS=y

# Terminal
BR2_PACKAGE_TMUX=y
BR2_PACKAGE_SCREEN=y

# Security
BR2_PACKAGE_ACL=y
BR2_PACKAGE_INTEL_MICROCODE=y
BR2_PACKAGE_IUCODE_TOOL=y

# Compression
BR2_PACKAGE_ZSTD=y
BR2_PACKAGE_BZIP2=y
BR2_PACKAGE_GZIP=y


# Remote Access
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_DROPBEAR_CLIENT=y
BR2_PACKAGE_DROPBEAR_SMALL=y

# Mail client
BR2_PACKAGE_MSMTP=y
BR2_PACKAGE_MUTT=y
BR2_PACKAGE_MUTT_IMAP=y
BR2_PACKAGE_MUTT_POP3=y

# Encrypt
BR2_PACKAGE_PINENTRY_NCURSES=y
BR2_PACKAGE_PINENTRY=y
BR2_PACKAGE_GNUPG2=y
BR2_PACKAGE_GNUPG2_GPGV=y
BR2_PACKAGE_LIBOPENSSL_BIN=y

# Firewall
BR2_PACKAGE_NFTABLES=y

# Bootloader
BR2_TARGET_GRUB2=y
BR2_TARGET_GRUB2_X86_64_EFI=y
BR2_TARGET_GRUB2_BUILTIN_MODULES="boot linux fat part_msdos part_gpt normal efi_gop"

# User's custom configuration
BR2_ROOTFS_OVERLAY="board/lenovo-100schromebook-luhui/overlay/"

# For Recovery
BR2_PACKAGE_TAR=y
BR2_PACKAGE_QEMU=y
BR2_PACKAGE_QEMU_CUSTOM_TARGETS="x86_64-sofmmu"
BR2_PACKAGE_QEMU_TOOLS=y
